<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#-Homework-2-(Topics-5-7:-Groupby,-Merge,-Visualization)" data-toc-modified-id="-Homework-2-(Topics-5-7:-Groupby,-Merge,-Visualization)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><center> Homework 2 (Topics 5-7: Groupby, Merge, Visualization)</center></a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Task-0." data-toc-modified-id="Task-0.-1.0.0.1"><span class="toc-item-num">1.0.0.1&nbsp;&nbsp;</span>Task 0.</a></span></li><li><span><a href="#Task-1." data-toc-modified-id="Task-1.-1.0.0.2"><span class="toc-item-num">1.0.0.2&nbsp;&nbsp;</span>Task 1.</a></span></li><li><span><a href="#Task-2:" data-toc-modified-id="Task-2:-1.0.0.3"><span class="toc-item-num">1.0.0.3&nbsp;&nbsp;</span>Task 2:</a></span></li><li><span><a href="#Task-3:" data-toc-modified-id="Task-3:-1.0.0.4"><span class="toc-item-num">1.0.0.4&nbsp;&nbsp;</span>Task 3:</a></span></li><li><span><a href="#Task-4:" data-toc-modified-id="Task-4:-1.0.0.5"><span class="toc-item-num">1.0.0.5&nbsp;&nbsp;</span>Task 4:</a></span></li><li><span><a href="#Task-5:" data-toc-modified-id="Task-5:-1.0.0.6"><span class="toc-item-num">1.0.0.6&nbsp;&nbsp;</span>Task 5:</a></span></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-1.0.0.7"><span class="toc-item-num">1.0.0.7&nbsp;&nbsp;</span>Вопросы:</a></span></li><li><span><a href="#Task-6:" data-toc-modified-id="Task-6:-1.0.0.8"><span class="toc-item-num">1.0.0.8&nbsp;&nbsp;</span>Task 6:</a></span></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-1.0.0.9"><span class="toc-item-num">1.0.0.9&nbsp;&nbsp;</span>Вопросы:</a></span></li></ul></li></ul></li></ul></li></ul></div>

# <center> Homework 2 (Topics 5-7: Groupby, Merge, Visualization)

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Ещё раз (как и в задании 1) считайте в переменные tr_mcc_codes, tr_types, transactions и customers_gender_train. В transactions опять считайте только первые 1000000 строк.

In [38]:
transactions = pd.read_csv(filepath_or_buffer = "../Homework_2/transactions.csv",
            nrows=1000000
            )

In [39]:
pd.options.display.max_rows = 50

In [40]:
tr_types = pd.read_csv(filepath_or_buffer = "../Homework_2/tr_types.csv",
            sep = ';')
tr_types

     tr_type                                     tr_description
0       3200  Плата за предоставление услуг посредством моби...
1       3210  Плата за предоставление отчета по счету карты ...
2       3800  Плата за обслуживание банковской карты (за пер...
3       4000            Плата за получение наличных в Сбербанке
4       4001  Плата за получение наличных в Сбербанке (в дру...
..       ...                                                ...
150     2990                             Списание по требованию
151     2992  Списание средств для погашения задолженности п...
152     3001            Комиссия за обслуживание ссудного счета
153     3030  Плата за обслуживание банковской карты (за пос...
154     3120                Плата за досрочный перевыпуск карты

[155 rows x 2 columns]

In [41]:
tr_mcc_codes = pd.read_csv(filepath_or_buffer = "../Homework_2/tr_mcc_codes.csv",
                sep = ';')
tr_mcc_codes

     mcc_code                                    mcc_description
0         742                                Ветеринарные услуги
1        1711  Генеральные подрядчики по вентиляции, теплосна...
2        1731                        Подрядчики по электричеству
3        1799  Подрядчики, специализированная торговля — нигд...
4        2741           Разнообразные издательства/печатное дело
..        ...                                                ...
179      9211  Судовые выплаты, включая алименты и детскую по...
180      9222                                             Штрафы
181      9311                                  Налоговые платежи
182      9399  Правительственные услуги, нигде ранее не класс...
183      9402             Почтовые услуги — только правительство

[184 rows x 2 columns]

In [42]:
gender_train = pd.read_csv(filepath_or_buffer = "../Homework_2/gender_train.csv",
                sep = ',')
gender_train

      customer_id  gender
0        10928546       1
1        69348468       1
2        61009479       0
3        74045822       0
4        27979606       1
...           ...     ...
8395     90417572       0
8396     66837341       0
8397     10758984       1
8398     11376556       0
8399     29190649       0

[8400 rows x 2 columns]

#### Task 0.
Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с customers_gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [43]:
transactions_tbl = pd.merge(transactions, gender_train, how='left')
transactions_tbl = pd.merge(transactions_tbl, tr_mcc_codes, how='inner')
transactions_tbl = pd.merge(transactions_tbl, tr_types, how='inner')
transactions_tbl.shape

(999584, 9)

#### Task 1.
1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount). (*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Если в результате для мужчин получились значения [-1,-3,-5], а для женщин [-1,-2,-3],  
то модуль разницы между средними арифметическими -3 и -2 будет равен 1.

(\**) Обратите внимание, что для вычисления модуля разности точных знаний о том,  
какой класc относится к мужчинам, а какой - к женщинам, пока не требуется.

(\***) Округление не нужно производить отдельно по средним тратам женщин и мужчин, а только в самом конце, когда получите значение модуля разницы трат.

In [44]:
mean_inc = transactions_tbl[transactions_tbl['amount'] > 0].groupby(['gender'])['amount'].mean()
mean_exp = transactions_tbl[transactions_tbl['amount'] < 0].groupby(['gender'])['amount'].mean()

# print(mean_inc)
print("Mean expense difference: \n", round(abs(mean_exp.get(0) - mean_exp.get(1)), 3))
print("Mean income difference: \n", round(abs(mean_inc.get(0) - mean_inc.get(1)), 3))

Mean expense difference:
 32718.055
Mean income difference:
 63366.571

#### Task 2:
1. Создайте новый столбец - mcc_code+tr_type, сконкатенировав значения из соответствующих столбцов. (\*)
2. Оставьте только наблюдения с отрицательным значением amount. Посчитайте дисперсию по категориям получившегося столбца mcc_code+tr_type, в которых количество наблюдений >= 10. 
3. Определите отношение максимальной дисперсии к минимальной.

Выведите ответ в виде вещественного числа, округлённого до ближайшего целого в формате "123456" без дробной части.

##### Пояснения:
(\*) Для конкатенации значений в столбцах можно использовать метод .astype(str) для серии и складывать соответствующие серии. Либо же применять apply к строкам датафрейма, прописывая логику преобразования и конкатенации значений внутри.

(\**) Для одновременного подсчета количества наблюдений и дисперсии по категориям можно воспользоваться функцией .agg()

In [55]:
transactions_tbl["mcc_code+tr_type"] = transactions_tbl["mcc_code"].astype(str) + transactions_tbl["tr_type"].astype(str)
res = (transactions_tbl
       .query("amount < 0")
       .groupby("mcc_code+tr_type")
       ["amount"]
       .agg(lambda x: x.var()**2 if len(x)>=10 else np.nan).dropna())
ratio = round(res.max() / res.min())
ratio

84099886070340

#### Task 3:
1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 5 транзакций для мужчин и для женщин, наименьших среди всех транзакций по полученным значениям "max_income". (\*)
2. Выделите среди них те, которые встречаются одновременно и у мужчин, и у женщин:
    - 1) Покупка. POS ТУ СБ РФ	
    - 2) Списание после проведения претензионной работы	
    - 3) Плата за получение наличных. Россия	
    - 4) Перевод на карту/ с карты через АТМ (со взиманием комиссии с отправителя) по счету в овердрафте	
    - 5) Плата за получение наличных в АТМ. Россия	 
    - 6) Наличные. Зарубеж. банк	
    - 7) Возврат покупки. POS ТУ Россия

##### Пояснения:
(\*) Если максимальные суммы приходов по каким-то типам были равны [1,2,3,4,5,6,7,8], то 5 минимальных из них: [1,2,3,4,5]

In [119]:
max_income = transactions_tbl.query("amount > 0").groupby(['amount','gender']).max()
max_income.sort_values(by=['amount'], ascending=True).head(10)

C:\Users\kunut\AppData\Local\Temp/ipykernel_5636/2772419204.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  max_income = transactions_tbl.query("amount > 0").groupby(['amount','gender']).max()

               customer_id   tr_datetime  mcc_code  tr_type  \
amount gender
0.22   0.0        82235884   95 19:59:12      6010     7070
       1.0        54186907  269 14:52:02      6010     7070
0.45   0.0        82235884  453 19:39:14      6010     7070
0.67   0.0        82235884  300 06:43:59      6010     7070
       1.0        89788126   36 12:05:40      6010     7070
0.90   0.0        82235884  327 11:49:58      6010     7070
1.12   1.0        54186907  402 17:08:51      6010     7070
1.80   0.0        38561717  112 15:02:32      6010     7070
2.02   1.0        89788126  308 10:23:21      6010     7070
2.25   0.0        82235884  115 10:00:00      6010     7070

                                                mcc_description  \
amount gender
0.22   0.0     Финансовые институты — снятие наличности вручную
       1.0     Финансовые институты — снятие наличности вручную
0.45   0.0     Финансовые институты — снятие наличности вручную
0.67   0.0     Финансовые институты — снятие наличности вручную
       1.0     Финансовые институты — снятие наличности вручную
0.90   0.0     Финансовые институты — снятие наличности вручную
1.12   1.0     Финансовые институты — снятие наличности вручную
1.80   0.0     Финансовые институты — снятие наличности вручную
2.02   1.0     Финансовые институты — снятие наличности вручную
2.25   0.0     Финансовые институты — снятие наличности вручную

                                                  tr_description  \
amount gender
0.22   0.0     Перевод на карту (с карты) через Мобильный бан...
       1.0     Перевод на карту (с карты) через Мобильный бан...
0.45   0.0     Перевод на карту (с карты) через Мобильный бан...
0.67   0.0     Перевод на карту (с карты) через Мобильный бан...
       1.0     Перевод на карту (с карты) через Мобильный бан...
0.90   0.0     Перевод на карту (с карты) через Мобильный бан...
1.12   1.0     Перевод на карту (с карты) через Мобильный бан...
1.80   0.0     Перевод на карту (с карты) через Мобильный бан...
2.02   1.0     Перевод на карту (с карты) через Мобильный бан...
2.25   0.0     Перевод на карту (с карты) через Мобильный бан...

              mcc_code+tr_type
amount gender
0.22   0.0            60107070
       1.0            60107070
0.45   0.0            60107070
0.67   0.0            60107070
       1.0            60107070
0.90   0.0            60107070
1.12   1.0            60107070
1.80   0.0            60107070
2.02   1.0            60107070
2.25   0.0            60107070

Выделите среди них те, которые встречаются одновременно и у мужчин, и у женщин:

5) Плата за получение наличных в АТМ. Россия

#### Task 4:
1. Выделите из поля tr_datetime относительный день tr_day (первое число до точного времени). (\*)
2. Отфильтруйте строки таким образом, чтобы оставить только те транзакции, у которых в соответствующий относительный день tr_day количество уникальных MCC кодов при транзакциях было больше 75 (можно воспользоваться функцией nunique())
3. Сгруппируйте полученный отфильтрованный датафрейм по MCC коду и полу, после чего, пронализировав результат, выберите верные варианты ответов ниже (\**): 
    - 1) gender == 0 - женщины, gender == 1 - мужчины
    - 2) gender == 1 - женщины, gender == 0 - мужчины
    - 3) Абсолютное значение медианы с типом "Флористика" (расходов/приходов) у мужчин выше той же медианы у женщин
    - 4) Абсолютное значение медианы женских трат (расходов/приходов) на ценные бумаги выше мужских
    - 5) Абсолютное значение медианы женских трат (расходов/приходов) в категории "Бары, коктейль-бары, дискотеки, ночные клубы и таверны — места продажи алкогольных напитков" ниже мужских
    
##### Пояснения:
(\*) Для того, чтобы выделить всё, что стоит до первого пробела, можо использовать строковые методы для датафрейма - .str.split(), например. Либо же реализовывать логику выделения подстроки с помощью метода apply. <br>
(\**) Понять, какой класс к какому типу транзакций (мужские/женские) относится можно, если поизучать типичные для мужчин/женщин категории и сравнить средние/медианы расходов и/или приходов в них.

In [147]:
transactions_tbl['tr_day'] = transactions_tbl['tr_datetime'].map(lambda x: int(x.split()[1][:1]))
transactions_tbl[transactions_tbl.groupby(['tr_day', 'mcc_code'])['mcc_code'].transform('nunique')>75]

Empty DataFrame
Columns: [customer_id, tr_datetime, mcc_code, tr_type, amount, term_id, gender, mcc_description, tr_description, mcc_code+tr_type, tr_hour, tr_day]
Index: []

#### Task 5:
1. Разбейте расходы (отрицательные значения сумм) на 5 бакетов amount_bucket равного объёма (с помощью pd.qcut), разбив все траты на категории 'Very High', 'High', 'Middle', 'Low', 'Very Low'. (\*)
2. Оставшиеся неотрицательные траты отнесите к категории 'Income'.
(воспользуйтесь функцией .cat.add_categories('Income') для того, чтобы добавить новую категорию 'Income' к категориям 'Very High', 'High', 'Middle', 'Low', 'Very Low', а затем заполните пустые значения новой категорией).
3. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
3. После этого постройте сводную таблицу, значениями в которой является пол gender, индексы - tr_hour, столбцы - amount_bucket.
4. Отрисуйте полученные результаты, передав их в функцию plot_pivot_table, расположенную ниже.
5. Выберите верные ответы на вопросы ниже.

#### Вопросы:
    - 1) Ночные поступления денег (01-05 часов) в более чем 85% случаев являются мужскими.
    - 2) Посмотрев на долю мужчин в поступлениях средств (Income), можно сделать вывод, что количество поступлений средств женщинам в целом больше, чем мужчинам.
    - 3) Самые низкие траты в 3 часа ночи осуществляются в более 70% случаев женщинами.
    - 4) Существуют особые часы в мелких тратах, когда женщины тратят намного больше мужчин (>80%)
    - 5) Посмотрев на долю мужчин в максимальных тратах средств (Very High), можно сделать вывод, что количество высоких трат в каждый возможный час мужчин больше, чем у женщин.

##### Пояснения:
(\*) Обратите внимание, что в категории Very High Должны оказаться максимальные по модулю отрицательные транзакции. <br>
(\**) Например, для строки "0 10:23:26" час будет равен 10, а для строки "6 07:08:31"- 07. Можно воспользоваться функциями str.split() или str.find() и 
функцией .apply(lambda x: x[])

In [148]:
def plot_pivot_table(pivot_table):
    plt.figure(figsize=(9, 11))
    sns.heatmap(pivot_table, cmap="YlGnBu", annot=True, 
                fmt='.3g', annot_kws={"size": 14, "fontsize": 14})
    plt.xticks(fontsize=15)
    plt.yticks(rotation=0, fontsize=15)
    plt.xlabel('Bucket', size=18)
    plt.ylabel('Hour', fontsize=18)
    plt.title('Gender analysis per bucket and hour', fontsize=20)
    plt.show()

In [182]:
otr = transactions_tbl[transactions_tbl.amount<0].amount
amount_bucket = pd.qcut(otr,5,labels=['Very High','High','Middle','Low','Very Low'])

In [183]:
incom = transactions_tbl[transactions_tbl.amount<0].amount

#### Task 6:
1. Измените тип поля tr_day на int.
2. Выберите из transactions все MCC коды, которые встретились в выборке более чем 60000 раз.
3. Сгруппируйте отфильтрованный датафрейм по дню и MCC-коду, получая средние значения суммы amount.  
4. Далее отрисуйте зависимость средних сумм (может пригодится метод unstack()) по каждому из MCC-кодов по дням.
5. Выберите верные ответы на вопросы ниже.

#### Вопросы:
    - 1) 2 из полученных MCC-кодов связаны с финансовыми институтами
    - 2) 2 MCC кода, связанные со снятием наличности имеют в целом разные знаки (в одном случае почти везде - траты, в другом - пополнения)
    - 3) Бакалейные магазины обладают максимальными средними тратами среди выбранных MCC-кодов
    - 4) Денежные переводы имеют как минимум 3 явных минимума средних
    - 5) Категория "Звонки с использованием телефонов, считывающих магнитную ленту" имеет визуально очень большую дисперсию.

In [222]:
vc = transactions_tbl['mcc_code'].value_counts()
vc[vc>60000].index

Int64Index([6011, 6010, 5411, 4814, 4829], dtype='int64')